  <canvas id="drawing" class="canvas-new-head" width="500" height="200"></canvas>
  <%= form_for(@drawing) do |f| %>
  <%= f.hidden_field :image %>
  <div class="field">
    <%= f.label :drawing_type_id %>
    <%= f.collection_select(:drawing_type_id, DrawingType.all, :id, :type_description, { prompt: "please select" }, html_options = {:onchange => "drawingTypeChanged();"} ) %>
    
  </div>

  <% if @drawing.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@drawing.errors.count, "error") %> prohibited this drawing from being saved:</h2>

  <ul>
  <% @drawing.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>
<div class="actions">
  <%= f.submit %>
  <button type="button" id="clear">Clear</button>
  <p>
    <!--<input type="radio" name="draw_erase" value="draw"  onclick="handleClick(this);" checked> Draw<br>
    <input type="radio" name="draw_erase" value="erase" onclick="handleClick(this);"> Erase<br>-->
    <input type="radio" name="draw_erase" value="draw" checked> Draw<br>
    <input type="radio" name="draw_erase" value="erase" > Erase<br>
  </p>
</div>
<% end %>
