  <canvas id="drawing" class="canvas-new-head" width="500" height="200"></canvas>
  <%= form_for(@drawing) do |f| %>
  <%= f.hidden_field :image %>
  <div class="field">
    <%= f.label :drawing_type_id %>
    <%#= f.collection_select(:drawing_type_id, DrawingType.all, :id, :type_description, {}, html_options = {:onchange => "alert('hello')"} ) %>
    <%#= f.collection_select(:drawing_type_id, DrawingType.all, :id, :type_description, {}, html_options = {:onchange => "var can = document.getElementsByTagName('canvas')[0];var ctx = can.getContext('2D');alert(ctx);"} ) %>
    <%#= f.collection_select(:drawing_type_id, DrawingType.all, :id, :type_description, {}, html_options = {:onchange => "var can = document.getElementById('drawing');var ctx = can.getContext('2d');"} ) %>
    <%= f.collection_select(:drawing_type_id, DrawingType.all, :id, :type_description, {}, html_options = {:onchange => "drawingTypeChanged();"} ) %>
    
  </div>

  <% if @drawing.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@drawing.errors.count, "error") %> prohibited this drawing from being saved:</h2>

  <ul>
  <% @drawing.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>
<div class="actions">
  <%= f.submit %>
  <button type="button" id="clear">Clear</button>
</div>
<% end %>
