<div class="hero-unit">
<h1>All the Drawings</h1>

<table>
  <tr>
    <th>Thumb</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drawings.each do |drawing| %>
  <tr>
    <td><img src="<%= drawing.image %>" width="150px" height="auto"></img></td>
    <% if drawing.type_id == 1 %>
        <td><b>Head</b></td>
    <% elsif drawing.type_id == 2 %>
        <td><b>Torso</b></td>
    <% else %>
        <td><b>Legs</b></td>
    <% end %>
    <!--<td><%= drawing.type_id %></td>-->
    <td><%= drawing.user_id %></td>
    <td><%= link_to 'Show', drawing %></td>
    <td><%= link_to 'Destroy', drawing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<%= link_to 'New Drawing', new_drawing_path %>
