  <canvas id="drawing" width="500" height="200"></canvas>
  <%= form_for(@pair) do |f| %>
    <%= hidden_field_tag :image %>
    <div class="field">
      <%= collection_select(@drawing, :type_id, DrawingType.all, :id, :type_description) %>
    </div>
    <div class="field">
      <%= f.hidden_field :image_top %>
      <%= f.hidden_field :image_bottom %>
      <%= hidden_field_tag :pairs_top_id, @randomly_selected_head.id %>
      <%= hidden_field_tag :image_top, @drawing_top %>
      <%= hidden_field_tag :image_bottom, @drawing_bottom %>
    </div>
    <div class="actions">
      <%= f.submit %>
      <button id="clear">Clear</button>
    </div>
    

    <% if @drawing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drawing.errors.count, "error") %> prohibited this drawing from being saved:</h2>

      <ul>
      <% @drawing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  
    <% end %>

    <script>
      $($('#new_pair')[0]).submit(function() {
        var canvasValue = $('canvas')[0].toDataURL('image/png');
        console.log("############");
        console.log(canvasValue);
        $('#image').val(canvasValue);
      })
    </script>
    
<% end %>

