<div class="hero-unit">
<h1>All the Pairs</h1>

<table>
<% @pairs.each do |pair| %>
 <tr>
    <td class="drawing-display"><img src=" <%= pair.attributes['top_image'] %> " width="120px" height="auto"></src><br>
        <img src=" <%= pair.attributes['bot_image'] %> " width="120px" height="auto"></src>
    </td>
    <td><p><b><%= pair.attributes['top_description'] %> & <%= pair.attributes['bot_description'] %></b></p>
      <p><%= link_to 'Show', pair %> | <%= link_to 'Destroy', pair, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />
</div>
<%#= link_to 'New Pair', new_pair_path %>
