<div class="hero-unit">
<p id="notice"><%= notice %></p>
<p>
  <img src=" <%= @drawing_top.image %>"></src><br>
  <img src=" <%= @drawing_bottom.image %> "></src> 
</p>
<p>
  <b>Image top id:</b> <%= @pair.image_top %> 
</p>
<p>
  <b>Image bottom id:</b> <%= @pair.image_bottom %>
</p>

</div>
<%= link_to 'Back', pairs_path %>
