<p id="notice"><%= notice %></p>
<p>
  <img src=" <%= @drawing_top.image %>"></src>
<p>
  <img src=" <%= @drawing_bottom.image %> "></src> 
</p>
<p>
  <b>Image top:</b>
  <b> Here's top: <%= @pair.image_top %> </b>
</p>
<p>
  <b>Image bottom:</b>
  <b> Here's bottom: <%= @pair.image_bottom %> </b>
</p>


<%= link_to 'Back', pairs_path %>
