<p id="notice"><%= notice %></p>
<%  
     @drawings.each do |d|
    
%>
<p>
  <img src=" <%= d.image %> "></src> 
</p>
<% end %>
<p>
  <b>Image top:</b>
  <b> Here's top: <%= @pair.image_top %> </b>
</p>
<p>
  <b>Image bottom:</b>
  <b> Here's bottom: <%= @pair.image_bottom %> </b>
</p>


<%= link_to 'Back', pairs_path %>
