<p id="notice"><%= notice %></p>

<p>
  <b>Image top:</b>
  <%= @pair.image_top %>
</p>

<p>
  <b>Image bottom:</b>
  <%= @pair.image_bottom %>
</p>


<%= link_to 'Edit', edit_pair_path(@pair) %> |
<%= link_to 'Back', pairs_path %>
