<p id="notice"><%= notice %></p>
<%  
     #top = Drawing.where(:id => 1)
     #@top= Drawing.select(%q{image}).where(:id => 1)

     ##@bottom = Drawing.select(%q{image}).where(:id => 37)
%>


<p>
  <img src=" <%= @drawing_top.image %> "></src> 
</p>
<p>
  <img src=" <%= @drawing_bottom.image %> "></src>
</p>
<p>
  <b>Image top:</b>
  <b> Here's top: <%= @pair.image_top %> </b>
</p>
<p>
  <b>Image bottom:</b>
  <b> Here's bottom: <%= @pair.image_bottom %> </b>
</p>


<%= link_to 'Back', pairs_path %>
