<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Home", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add to Existing Drawing <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Add Torso to Head", new_pair_path(:pair_type => 1) %></li>
                <li><%= link_to "Add Head to Torso", new_pair_path(:pair_type => 2) %></li>
                <li><%= link_to "Add Legs to Torso", new_pair_path(:pair_type => 3)  %></li>
                <li><%= link_to "Add Torso to Legs", new_pair_path(:pair_type => 4)  %></li>
              </ul>
          </li>
          <li><%= link_to "Create Drawing", new_drawing_path %></li>
          <li><%= link_to "See Drawings", drawings_path %></li>
          <li><%= link_to "See Pairs", pairs_path %></li>
          <li><%= link_to "See Corpses", corpse_index_path %></li>
          <% #if signed_in? %>
            <li><%= link_to "Users", "#" %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", "#" %></li>
                <li><%= link_to "Settings", "#" %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", "#", method: "delete" %>
                </li>
              </ul>
            </li>
          <% #else %>
            <!--<li><%#= link_to "Sign in", "#" %></li>-->
          <% #end %>
        </ul>
      </nav>
    </div>
  </div>
</header>